:root {
  --c0: #ffffff;
  --c1: #f5f7fa;
  --c2: #e6eaf0;
  --c3: #ced3d9;
  --c4: #c0c5cc;
  --c5: #b2b8bf;
  --c6: #989ea6;
  --c7: #7e838c;
  --c8: #636973;
  --c9: #474d59;
  --c10: #363b47;
  --c11: #242833;
  --c12: #0b0c12;

  --p1: #18a0fb;
  --p2: #068be4;
  --p3: #0077c7;
  --p4: #0061a7;
  --p5: #00234c;

  --s1: #dff2ff7a;

  --e1: #ff5252;
}